*.py[cod]
*.log
*.pot
*.pyd
*.rdb
*.swp
.DS_Store
djangotest/base/__pycache__/
*.egg-info/
*.eggs
*.swo
*.swp
.env
.vscode/
.idea/
.cache
.mypy_cache
.db
db.sqlite3
media
staticfiles
*.sqlite3
*.pyc
local_settings.py
celerybeat-schedule.*
*.bak
*~
*#
.*.sw[a-z]
*.un~
*.so
*.o
*.pyd
*.pyc
*.pyo
*.pyz
.py[co]
.pyd
.pyo
.pyz
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.parasite*
.pytest_cache/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
Pipfile.lock
db.sqlite3-journal
db.sqlite3
*.log
*.pot
*.pyc
djangotest/djangotest/__pycache__/
local_settings.py
db.sqlite3
media
static
.env
djangotest/base/migrations/__pycache__/
