<h2>学校登録</h2>
<form method="post">
  {% csrf_token %}
  <div class="field-wrapper">
    <label for="{{ form.name.id_for_label }}">学校名:</label>
    {{ form.name }}
  </div>
  <div class="field-wrapper">
    <label for="{{ form.classification.id_for_label }}">分類:</label>
    {{ form.classification }}
  </div>
  <div class="field-wrapper">
    <label for="{{ form.city.id_for_label }}">都市:</label>
    {{ form.city }}
  </div>
  <div class="field-wrapper">
    <label for="{{ form.exam_01.id_for_label }}">1学期中間:</label>
    <input type="date" name="{{ form.exam_01.name }}" value="{{ form.exam_01.value|default_if_none:'' }}">
  </div>
  <div class="field-wrapper">
    <label for="{{ form.exam_02.id_for_label }}">1学期期末:</label>
    <input type="date" name="{{ form.exam_02.name }}" value="{{ form.exam_02.value|default_if_none:'' }}">
  </div>
  <div class="field-wrapper">
    <label for="{{ form.exam_03.id_for_label }}">2学期中間:</label>
    <input type="date" name="{{ form.exam_03.name }}" value="{{ form.exam_03.value|default_if_none:'' }}">
  </div>
  <div class="field-wrapper">
    <label for="{{ form.exam_04.id_for_label }}">2学期末:</label>
    <input type="date" name="{{ form.exam_04.name }}" value="{{ form.exam_04.value|default_if_none:'' }}">
  </div>
  <div class="field-wrapper">
    <label for="{{ form.exam_05.id_for_label }}">学年末:</label>
    <input type="date" name="{{ form.exam_05.name }}" value="{{ form.exam_05.value|default_if_none:'' }}">
  </div>
  
  
  <!-- 他のフィールドを追加 -->
  <button type="submit">登録</button>
</form>
