<form method="post">
  {% csrf_token %}
  <div class="field-wrapper">
    <label for="{{ form.last_name.id_for_label }}">苗字:</label>
    {{ form.name }}
  </div>
  <div class="field-wrapper">
    <label for="{{ form.last_name_kana.id_for_label }}">苗字（かな）:</label>
    {{ form.last_name_kana }}
  </div>
  <div class="field-wrapper">
    <label for="{{ form.first_name.id_for_label }}">名前:</label>
    {{ form.name }}
  </div>
  <div class="field-wrapper">
    <label for="{{ form.first_name_kana.id_for_label }}">名前（かな）:</label>
    {{ form.last_name_kana }}
  </div>
  <div class="field-wrapper">
    <label for="{{ form.birthday.id_for_label }}">誕生日:</label>
    <input type="date" name="{{ form.birthday.name }}" value="{{ form.birthday.value|default_if_none:'' }}">
  </div>
  <div class="field-wrapper">
    <label for="{{ form.gender.id_for_label }}">性別:</label>
    {{ form.gender }}
  </div>
  <div class="field-wrapper">
    <label for="{{ form.sibling.id_for_label }}">兄弟姉妹の有無:</label>
    {{ form.sibling }}
  </div>
  <div class="field-wrapper">
    <label for="{{ form.school.id_for_label }}">学校:</label>
    {{ form.school }}
  </div>
  <div class="field-wrapper">
    <label for="{{ form.grade.id_for_label }}">学年:</label>
    {{ form.grade }}
  </div>
  <div class="field-wrapper">
    <label for="{{ form.phone_number.id_for_label }}">電話番号:</label>
    {{ form.phone_number }}
  </div>
  <div class="field-wrapper">
    <label for="{{ form.introducer.id_for_label }}">紹介者:</label>
    {{ form.introducer }}
  </div>
  <div class="field-wrapper">
    <label for="{{ form.course.id_for_label }}">コース:</label>
    {{ form.course }}
  </div>
  <div class="field-wrapper">
    <label for="{{ form.course.id_for_label }}">ステータス:</label>
    {{ form.status }}
  </div>
  <div class="field-wrapper">
    <label for="{{ form.course.id_for_label }}">両親:</label>
    {{ form.parent }}
  </div>
  <button type="submit">登録</button>
</form>
